.select2-element {
    width: 100%;
}

.select2-selection__clear:before{
    font-family:   fontAwesome;
    color:         grey;
    content:       "\f1f8";
    position:      absolute;
    background:    #ffffff;
    width:         26px;
    right:         0;
    text-align:    center;
    height:        26px;
}

.select2-results__option .check {
    font-size:     16px;
}

.select2-results__option .check:before{
    font-family:   fontAwesome;
    font-size:     16px;
    color:         grey;
    content:       "\f096";
    width:         25px;
    height:        25px;
    padding-right: 10px;

}

.select2-results__group {
    color: grey;
    cursor: pointer !important;
    padding: 18px;
    width: calc(100% - 12px);
    text-align: left;
    transition: 0.4s;
}

.select2-results__group:hover {
    color: green;
}

.select2-results__options--nested {
    background-color: white;
    display: none;
    overflow: hidden;
}

[data-open] ul.select2-results__options--nested {
    display: none;
}

[data-open="true"] ul.select2-results__options--nested {
    display: block;
}

.angle {
    color: grey;
    float: right;
}

.angle:before {
    font-family: fontAwesome;
    content: '\f107';
    font-size:     16px;
    width:         25px;
    height:        25px;
    padding-right: 10px;
}

.angle:hover {
    font-family: fontAwesome;
    content: '\f107';
    font-size:     16px;
    color:         green;
    width:         25px;
    height:        25px;
    padding-right: 10px;
}

[data-open="true"] .angle:before {
    content: '\f106';
}

[aria-selected="true"] .check:before{
    content:        "\f14a";
}

.select-field-title {
    display:        inline-block;
    font-weight:    bold;
    text-align:     center;
    width:          calc(100% - 52px);
    height:         100%;
}

.select-field-title.full-width {
    width:          100%;
}

.select-field-selected-count {
    display:        inline-block;
    width:          26px;
    text-align:     center;
    background:     red;
    height:         26px;
    border-radius:  26px;
    color:          #ffffff;
}
